# Logs
*.log

# Archivos temporales de editores
*.swp
.vscode/
.idea/
# Ignorar todas las carpetas __pycache__ y su contenido
**/__pycache__/

# Opcional: Ignorar archivos .pyc también, que suelen generarse en __pycache__
**/*.pyc